<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>91812890274-71ueag7qa8gkt7anm8toh5f8oocimq3h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.91812890274-71ueag7qa8gkt7anm8toh5f8oocimq3h</string>
	<key>API_KEY</key>
	<string>AIzaSyBeGPGuvRlMzzFbNLWAZ_pnfkyCdb9XvAI</string>
	<key>GCM_SENDER_ID</key>
	<string>91812890274</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dheerajbhavsar.crud-firebase</string>
	<key>PROJECT_ID</key>
	<string>crud-firebase-80bc7</string>
	<key>STORAGE_BUCKET</key>
	<string>crud-firebase-80bc7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:91812890274:ios:62dfb112ccd412f3</string>
	<key>DATABASE_URL</key>
	<string>https://crud-firebase-80bc7.firebaseio.com</string>
</dict>
</plist>